/* screen.css - Version pour écran */
/* ======================================== */
/*                 Variable                 */
/* ======================================== */
:root {
    /* Colors */
    --blue-dark: #215FFF;
    --blue-light: #3967FF;
    --green-dark: #1AA71A;
    --green-light: #9FCDAD;
    --background-color: #f8f8f8;
    --text-color-dark: #000000;
    --text-color-medium: #616161;
    --text-color-light: #FFFFFF;
    /* Typo */
    --font-family-base: 'Inter', sans-serif;
    --font-family-title: 'Pridi', sans-serif;
    --font-family-citation: 'Indie Flower', cursive;
    --font-size-base: 16px;

}

/* ======================================== */
/*                Init                      */
/* ======================================== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ======================================== */
/*               Body                       */
/* ======================================== */
body {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    background-color: var(--background-color);
    color: var(--text-color-dark);
    line-height: 1.6;
}


/* ======================================== */
/*             Main Navigation              */
/* ======================================== */
.main-nav {
    position: fixed;
    top: 0;
    padding: 1rem 0 0.5rem;
    width: 100%;
    z-index: 100;
}

.main-nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 2rem;
    padding: 0.75rem 1rem;
    margin: 0;
}

.main-nav ul li a {
    text-decoration: none;
    color: var(--text-color-light);
    font-weight: 600;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
}

.main-nav.scrolled {
    background-color: rgba(0, 0, 0, 1);
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
}

/* ======================================== */
/*            Button                        */
/* ======================================== */
a[role="button"] {
    padding: 0.75rem 5rem;
    text-decoration: none;
    border-radius: 25px;
    width: fit-content;
    font-size: 0.9rem;
    background-color: var(--green-dark);
    color: var(--text-color-light);
}

/* ======================================== */
/*            Title                        */
/* ======================================== */
h1 {
    font-family: var(--font-family-title);
    font-size: 5rem;
    font-weight: bold;
    text-align: start;
}

h2 {
    font-family: var(--font-family-title);
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}


/* ======================================== */
/*            Section Hero                  */
/* ======================================== */
.hero-section {
    height: 100vh;
    background-image: url('img/hero-home.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-history {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/hero-history.jpeg');
}

.hero-training {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/hero-training.jpg');
}

.hero-benefit {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('img/hero-benefit.jpg');
}

.hero-content {
    text-align: center;
    transform: translateY(-5%);
    color: #fff;
    width: 85%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.hero-content h1 {
    max-width: 70%;
}

.hero-content p {
    font-family: var(--font-family-citation);
    font-size: 1.8rem;
    max-width: 50%;
    text-align: start;
    margin: 1rem 0 3.5rem;
}

/* ======================================== */
/*           Section Shared                 */
/* ======================================== */

.shared-section {
    height: 100vh;
    width: 85%;
    padding: 2% 0;
    display: flex;
    margin: 0 auto;
}

.shared-section-reverse {
    flex-direction: row-reverse;
}

.shared-section-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5%;
}

.shared-section-text p {
    font-family: var(--font-family-base);
    color: var(--text-color-medium);
    text-align: justify;
    margin-bottom: 5%;
}


/* ======================================== */
/*             Image                        */
/* ======================================== */
.shared-section-gallery {
    flex: 1;
    display: flex;
    padding: 5%;
    gap: 1%;
}

.shared-section-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* === Two pic === */
.shared-gallery-two {
    flex: 1;
    display: flex;
    padding: 8% 2%;
    gap: 1%;
    margin: 0 auto;
}

.shared-gallery-two img {
    max-width: calc((100% - 1%) / 2);
    height: auto;
    object-fit: cover;
    border-radius: 0.5rem;
}

/* === Three pic === */
.shared-gallery-three {
    display: grid;
    grid-template-columns: calc(50% - 0.5%) calc(50% - 0.5%);
    grid-template-rows: calc(60% - 0.5%) calc(40% - 0.5%);
    grid-column-gap: 1%;
    grid-row-gap: 1%;
}

.shared-gallery-three img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 0.5rem;
}

.shared-gallery-three img:nth-child(1) {
    justify-self: end;
    align-self: end;
}

.shared-gallery-three img:nth-child(2) {
    justify-self: start;
    align-self: end;
}

.shared-gallery-three img:nth-child(3) {
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
}

/* ======================================== */
/*              Specific index.html         */
/* ======================================== */
.home-section {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 80% 20%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.home-section-content {
    grid-area: 1 / 1 / 2 / 2;
}

.home-section-gallery {
    grid-area: 1 / 2 / 2 / 3;
}

.home-section-stats {
    grid-area: 2 / 1 / 3 / 3;
}

.home-faq-stats {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

/* ======================================== */
/*            Section Info                  */
/* ======================================== */

.section-info {
    height: 45vh;
    background-color: var(--green-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-info p {
    font-family: var(--font-family-base);
    color: var(--text-color-dark);
    text-align: center;
    font-size: 1.2rem;
    padding: 0 5%;
    margin: 1% 0 3%;
}

.section-info a[role="button"] {
    background-color: var(--background-color);
    color: var(--text-color-dark);
}

/* ======================================== */
/*            Section Testimonial           */
/* ======================================== */
.section-testimonial {
    height: 80vh;
    background-color: var(--blue-light);
    color: var(--text-color-light);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.section-testimonial > p {
    font-family: var(--font-family-base);
    text-align: center;
    font-size: 1.2rem;
    padding: 0 5%;
}

.testimonial-content{
    display: flex;
    justify-content: space-around;
}

.testimonial-nav-btn {
    background: transparent; 
    border: none; 
    cursor: pointer; 
    padding: 0.5rem; 
    display: flex; 
    align-items: center;
    justify-content: center;
}

.testimonial-nav-btn img {
    width: 1.5rem;
    height: auto;
    color: white;
    display: block;
}

.testimonial-article {
    width: 50%;
    background-color: var(--background-color);
    padding: 2%;
    border-radius: 0.5rem;
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-article h3{
    text-align: center;
    font-family: var(--font-family-title);
    font-size: 1.2rem;
    font-weight: 600
}

.testimonial-article p{
    margin: 5%;
}

.testimonial-article footer{
    background-color: transparent;
    color: var(--text-color-dark);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.testimonial-article cite {
    color: var(--text-color-dark);
    font-weight: bold
}

.testimonial-article span {
    color: var(--blue-light);
}

.testimonial-nav-indicator {
    width: 0.5rem; 
    height: 0.5rem; 
    background-color: var(--text-color-dark);
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    outline: none;
}

/* ======================================== */
/*            Section FAQ                   */
/* ======================================== */
.section-faq {
    height: 100vh;
    display: flex;
    width: 85%;
    padding: 2% 0;
    margin: 0 auto;
}

.faq-info{
    flex: 1;
    padding: 1% 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.faq-info p {
    margin: 5% 0 10%;
    font-family: var(--font-family-base);
    color: var(--text-color-medium);
    text-align: justify;
}

.faq-question {
    padding: 1% 3%;
    flex: 1;
    display: flex;
    flex-direction : column;
    justify-content: space-around
}

.faq-question details {
    flex: 1;
}

.faq-question summary {
    margin-bottom: 0.5rem;
    color: var(--text-color-dark);
    text-align: justify;
    font-size: 1.2rem;
    list-style: none;
    position: relative;
    cursor: pointer
}

.faq-question summary::after {
    content: "+";
    position: absolute;
    top: 50%;
    right: 2%;
    font-size: 1.2em;
    transform: translateY(-50%)
}

.faq-question details[open] summary::after {
    content: "-";
}

.faq-question p {
    color: var(--text-color-medium);
    text-align: justify;
}


/* ======================================== */
/*             Stats                        */
/* ======================================== */

.shared-section-stat {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

.stat-value {
    font-size: 1.5rem;
    font-family: var(--font-family-base);
    font-weight: 700;
}

.stat-label {
    font-size: 1rem;
    font-family: var(--font-family-base);
    font-weight: 400;
    color: var(--text-color-medium)
}

.big-stat-value {
    font-size: 2rem;
}

/* === Three stats === */
.shared-stats-three {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1.5rem;
}

.stat-item-one {
    grid-area: 1 / 1 / 2 / 2;
}

.stat-item-two {
    grid-area: 1 / 2 / 2 / 3;
}

.stat-item-three {
    grid-area: 2 / 1 / 3 / 3;
}

/* ======================================== */
/*              Footer                      */
/* ======================================== */
.footer {
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--text-color-dark);
    padding: 0.5% 2%;
    color: var(--text-color-light);
}

.footer a {
    text-decoration: none;
}

.footer-nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    align-items: center;
    padding: 0.75rem 1rem;
    margin: 0;
}

.footer-nav ul li a {
    color: var(--text-color-light);
    font-weight: 600;
    padding: 0.5rem 1rem;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
}

.footer-info p {
    width: 25%;
}

.footer-info img {
    width: 1.5rem;
    height: auto;
}

.footer-contact {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: center;
    gap: 0.5rem;
}

.footer-contact p {
    white-space: nowrap;
    width: fit-content;
}

.footer-contact a {
    color: var(--text-color-light);
}

.footer-link {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 0.5rem;
}


/* ======================================== */
/*            Effect                        */
/* ======================================== */

/* ------------Devoir 3 ------------------- */

/* ======================================== */
/*            Media Queries                 */
/* ======================================== */

/* ------------Devoir 3 ------------------- */